.basic{
  padding: 1px;
  margin: 1px;
  border: 1px;
  background-color:#e0e0e3;
  color: black;
}

.basicTable{
    width: 100%;
}

.basicTd{
    padding: 1px;
    margin: 1px;
    border: 1px;
    border: solid black 2px;
}