<div class="basic">
  <h2 class="no-print">Location Widgit</h2>
  <form #form="ngForm">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <label>Latitude</label><br> {{theLat}}
          </td>
          <td>
            <label>Longitude</label><br> {{theLong}}
          </td>
        </tr>
        <tr>
          <td>
            <label>Count</label><br> {{theCount}}
          </td>
          <td>
            <label>Stuff here</label><br>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>